<div th:fragment="sidebar" class="nk-sidebar">
	<div class="nk-nav-scroll">
		<ul class="metismenu" id="menu">
			<li class="nav-label">Dashboard SuperAdmin</li>
			<li>
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="icon-user"></i><span class="nav-text">Gestion des Admins</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/admin/list}">Liste des Admins</a></li>
					<li><a th:href="@{/admin/add}">Ajouter Admin</a></li>
				</ul>
			</li>
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="icon-user"></i><span class="nav-text">Gestion des Agents</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/agent/list}">Liste des Agents</a></li>
					<li><a th:href="@{/agent/add}">Ajouter Agent</a></li>

				</ul>
			</li>
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="icon-globe-alt menu-icon"></i><span class="nav-text">Gestion des roles</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/role/listUserRole}">Liste des user-roles</a></li>
					<li><a th:href="@{/role/listRoles}">Liste des rôles</a></li>
				</ul>
			</li>
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="icon-grid menu-icon"></i><span class="nav-text">Gestion des Actualités</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/actualite/list}">Liste des Actualités</a></li>
					<li><a th:href="@{/actualite/add}">Ajouter Actualités</a></li>

				</ul>
			</li>
			
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="icon-note menu-icon"></i><span class="nav-text">Gestion des settings</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/sitting/show}">Consulter settings</a></li>
					<li><a th:href="@{/sitting/edit}">Modifier settings</a></li>

				</ul>
			</li>
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="icon-envelope menu-icon"></i><span class="nav-text">Tchat en ligne</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="#">Boite de réception</a></li>
					<li><a href="#">Messages envoyés</a></li>

				</ul>
			</li>
		</ul>
	</div>
</div>