<!DOCTYPE html>
<html lang="en">

<head>
	<div th:replace="/frontviews/fragments/header::header"></div>
</head>

<body>
	<!-- Spinner Start -->
	<div id="spinner"
		class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
		<div class="spinner"></div>
	</div>
	<!-- Spinner End -->


	<!-- Topbar Start -->
	<div th:replace="/frontviews/fragments/topbar::topbar"></div>
	<!-- Topbar End -->


	<!-- Navbar & Carousel Start -->
	<div class="container-fluid position-relative p-0">
		<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
			<a th:href="@{/home}" class="navbar-brand p-0">
				<img th:src="@{/backoffice/images/logo-text.png}" style="width: 225px; margin-left: 45px;" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="fa fa-bars"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ms-auto py-0" style="margin:1%0%">
					<a th:href="@{/homeSuperAdmin}" class="btn btn-primary py-2 px-4 ms-3 animated zoomIn">Retourner au
						dashboard SuperAdmin</a>
				</div>
			</div>
		</nav>

		<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
			<div class="row py-5">
				<div class="col-12 pt-lg-5 mt-lg-5 text-center">
					<h3 class="display-4 text-white animated zoomIn">Cette page est dédiée uniquement à la visualisation des sittings</h3>

				</div>
			</div>
		</div>
	</div>
	<!-- Navbar End -->


	<!-- Full Screen Search Start -->
	<div class="modal fade" id="searchModal" tabindex="-1">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content" style="background: rgba(9, 30, 62, .7);">
				<div class="modal-header border-0">
					<button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex align-items-center justify-content-center">
					<div class="input-group" style="max-width: 600px;">
						<input type="text" class="form-control bg-transparent border-primary p-3"
							placeholder="Type search keyword">
						<button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Full Screen Search End -->



	<!-- Footer Start -->
	<div th:replace="/frontviews/fragments/footer::footer"></div>
	<!-- Footer End -->


	<!-- Back to Top -->
	<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


	<!-- JavaScript Libraries and Template Javascript -->
	<div th:replace="/frontviews/fragments/jsscripts::jsscripts"></div>
</body>

</html>